.button-request {
    margin-bottom: 10px;
    margin-top: 10px;
}

.faculties {
    margin: 5px 25% 10px 25%;
}

.lecturer-name {
    margin: 5px 25% 5px 25%;
}

.button-main {
    margin: 6px 40px 6px 40px;
    width: 60%;
}